html {
  background-size: cover;
  background-image: repeating-radial-gradient(skyblue,white);
}

.App {
  text-align: center;
}

.Album-Search{
  margin: 20px;
}

.Album-List{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Album-List-Title{
  text-transform: capitalize;
}

.Album-Item{
  background-image: linear-gradient(rgba(128, 0, 128, 0.3), rgba(255, 192, 203, 0.3));
  border-style: solid;
  border-width: 2px;
  border-color: black;
  display: block;
  align-content: center;
}

.Album-Title{
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  width: inherit;
}

.Album-Art{
  height: 120px;
  width: 120px;
  animation: album-spin 2s linear infinite;
  margin-bottom: 50px;
  /* border-style: solid;
  border-width: 2px;
  border-color: black; */
  position: relative;
}
.Album-Art-2{
  height: 120px;
  width: 120px;
  animation: album-spin-rev 2s linear infinite;
  margin-bottom: 50px;
  /* border-style: solid;
  border-width: 2px;
  border-color: black; */
  position: relative;
}

.Album-Preview{
  margin: 0px 20px 50px 20px;
}

@keyframes album-spin{
  from {
    transform: scale3d(1,1,1);
    left: 64px;
  }
  to {
    transform: scale3d(0,1,1);
    left: 6px;
    filter: brightness(50%);
  }
}

@keyframes album-spin-rev{
  from {
    transform: scale3d(0,1,1);
    right: 0px;
    filter: brightness(50%);
  }
  to {
    transform: scale3d(1,1,1);
    right: 56px;
  }
}
